.container {
  display: grid;
  grid-template-rows: 70px 1fr 80px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow: hidden;
}

.main {
  overflow: hidden;
  background: #f8fafc;
}

/* Location: ROOT/page.module.css */
